version: 1.0.{build}
image: Visual Studio 2019
init:
- ps: >-
    wget https://eventstore.org/downloads/win/EventStore-OSS-Win-v5.0.5.zip -o c:\eventstore.zip

    expand-archive c:\eventstore.zip c:\eventstore

    start-process c:\eventstore\EventStore.ClusterNode.exe
environment:
  Memstate:StorageProviders:Postgresql:Password: Password12!
services: postgresql
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
before_test:
- cmd: SET Memstate:StorageProviders:Postgresql:Password=Password12!
notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/aaafc554375bbf8b6a4a
  method: POST
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
