@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>This is a scaled down trello implementation built with memstate.
        Choose the "Trello Boards" menu item to play with the demo</p>
    <h2>Features</h2>
    <ul>
        <li>Create boards</li>
        <li>Add/remove columns</li>
        <li>Reorder columns</li>
        <li>Add/remove/edit cards</li>
        <li>Move cards</li>
    </ul>
</div>
